<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test de Golpe de Calor</title>
</head>
<body>
    <h1>Test de Golpe de Calor</h1>

    <form action="/test1" method="post">
        <label for="piel_caliente">¿Nota su piel extremadamente caliente y enrojecida?</label>
        <input type="text" id="piel_caliente" name="piel_caliente" required>

        <label for="dolor_de_cabeza">¿Usted sufre de dolores de cabeza en este momento?</label>
        <input type="text" id="dolor_de_cabeza" name="dolor_de_cabeza" required>

        <label for="dolor_de_estomago">¿Usted presenta dolores de estómago, falta de apetito, náuseas o vómitos?</label>
        <input type="text" id="dolor_de_estomago" name="dolor_de_estomago" required>

        <label for="comportamiento">¿Presenta algunos de estos síntomas ahora mismo? Vértigos, mareos, desorientación, delirios, confusión o pérdida de conocimiento.</label>
        <input type="text" id="comportamiento" name="comportamiento" required>

        <label for="calambres">¿Usted presenta calambres musculares en este momento?</label>
        <input type="text" id="calambres" name="calambres" required>

        <label for="sed">¿Usted presenta una sed intensa o una sensación de sequedad en la boca?</label>
        <input type="text" id="sed" name="sed" required>

        <label for="movimientos">¿Usted presenta problemas con la coordinación y la ejecución de movimientos?</label>
        <input type="text" id="movimientos" name="movimientos" required>

        <button type="submit">Enviar Respuestas</button>
    </form>
</body>
</html>